NODE_ENV=development
PORT=4000

# Base de Datos MariaDB
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_NAME=gestor_academico
DB_CONNECTION_LIMIT=20

# Seguridad JWT
JWT_SECRET=super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=8h

# CORS
CORS_ORIGIN=http://localhost:5173
